
.players{
  height: 100%;
  flex: 0 0 75%; // 1 1 75%
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title{
    border-bottom: 5px dashed #BFC96C;
  }

  &__row{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    height: 100%;
  }
}
