body{
    background-color: #0A5138;
    padding: 20px;
}

.buttons h3{
    color: white;
}


.blackjack-table{
    height: 100%;
    width: 100%;
    border: 5px dashed  #BFC96C;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.title{
    width: 100%;
    color: white;
    border-bottom: 5px dashed  #BFC96C;
}

button{
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
}

.winner{
    color: white;
}

.player-goes{
    font-size: 20px;
}

@media (max-width: 768px) {
    .buttons{
        overflow-y: scroll;
    }
}

@media (max-width: 426px) {
    .blackjack-table{
        flex-direction: column;
    }
    .buttons{
        flex-direction: row;
        gap:5px;
    }
    .panel{
        border-left: none;
        border-top: 5px dashed  #BFC96C;
    }
}