.game-page{
    width: 100%;
    height: 100%;
    display: none;
}
.game{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-ability__data{

}

.game-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px dashed rgb(52,36,100);
    padding: 5px 0;
}

.game-score h1{
    font-size: 24px;
}

.game-ability{
    color: white;
    border-top: 5px dashed rgb(52,36,100);
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-ability__data{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

td{
    width: 25px;
    height: 25px;
    background-color: green;
}

#play {
    width: 890px;
    height: 600px;
    border-left: 5px dashed rgb(52,36,100);
    border-right:5px dashed rgb(52,36,100);
    margin: 0 auto;
    position: relative;
}

#player {
    width: 30px;
    height: 15px;
    background-image: url("../assets/player.png");
    position: absolute;
    left: 410px;
    bottom: 0;
}

.alien{
    width: 25px;
    height: 25px;
    background-color: green;
    position: absolute;
}

#alien-level-4-1 {
    top: 30px;
}

#alien-level-3-1 {
    top: 60px;
}

#alien-level-2-1 {
    top: 90px;
}

#alien-level-1-1 {
    top: 120px
}

#alien-level-1-2 {
    left: 30px;
    top: 120px
}

#alien-level-1-3 {
    left: 60px;
    top: 120px
}

#alien-level-1-4{
    left: 90px;
    top: 120px
}

#alien-level-1-5{
    left: 120px;
    top: 120px
}

#alien-level-5-1 {
    top: 0;
}

#alien-level-5-2 {
    left: 30px;
    top: 0;
}

#alien-level-5-3 {
    left: 60px;
    top: 0
}

#alien-level-5-4 {
    left: 90px;
    top: 0
}
#alien-level-5-5 {
    left: 120px;
    top: 0
}
#alien-level-5-6 {
    left: 150px;
    top: 0
}

#alien-level-5-7 {
    left: 180px;
    top: 0
}

#alien-level-5-8 {
    left: 210px;
    top: 0
}

#alien-level-5-9 {
    left: 240px;
    top: 0
}

#alien-level-5-10 {
    left: 270px;
    top: 0
}



